{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Code - Foodie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/home.css' %}">
</head>
<body>
    <div class="hero">
        <nav>
            <a href="#" class="logo">RENT-CAR</a>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <button onclick="window.location.href='{% url 'base:login' %}'">Login</button>
          

        </nav>

        <div class="content">
            <h2>Bienvenue chez <br>  RENT-CAR  </h2>
            <p>Votre partenaire premium de location de voitures.</p>

            <button>Order Now</button>
            <button class="know_more">Know More</button>
        </div>
    </div>
</body>
</html>
